@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: 1s ease-in-out;
}

html{
    overflow: hidden;
    scroll-behavior: smooth;
}

:root{
  
    --cards-color: #4e4d4d;
    --cards-color: #272727;
    --text-color: #ffffff;
    --Yellow--color: #ff9d00;
    --transition--: 1s ease-in-out;

}



.main{
    background-color: rgb(27, 27, 27);
    padding: 0rem 3rem 0rem 3rem;
}

/*/*//*/*//*/*//*/*//*/*//* navigation bar */

#navigation{
    transition: var(--transition--);
    height: 85%;
    background-color: var(--cards-color);
}

.image-wrap{
    height: 65%;
}

.button{
    background-color: var(--Yellow--color);
}

.navigation-buttons{
    height: 35%;
}


.navigation-icons > i{
    font-size: 20px;
    color: #ffc40080;
    
}

.nav-titles{
    transform: translateY(-4px);
    opacity: 0;
    transition: 0.3s ease-in-out ;
}
.navicons{
    transform: translateY(0px);
    transition: 0.3s ease-in-out ;
}


.navigation-icons:hover .nav-titles{
    transform: translateY(0px);
    opacity: 1;
}

.navigation-icons:hover .navicons{
    transform: translateY(-4px);
}

/* js class toggles */

.nav-titles-hover{
    transition: 0.3s ease-in-out ;
    transform: translateY(0px);
    opacity: 1;
}

/* js class toggles */

.user-email,
.user-phone,
.user-address > i{
    color: #ffc40080;
}

/*/*//*/*//*/*//*/*//*/*//* navigation bar */
/*/*//*/*//*/*//*/*//*/*//* center tile */

/* /////////////////////////////////////*/
/* maintile in animation key frames css */
/* //////////////////////////////////// */

.name{
    line-height: 3rem;
    margin-bottom: -5rem;
}

.WEB-DESIGNER{
    color: var(--Yellow--color);
}

.main-name{
    letter-spacing: -2px;
    color: var(--Yellow--color);
}

.name-inner{
    letter-spacing: -2px;
    font-size: 2.5rem;
}

.welcome-text{
    font-size:2.5rem;
}

.name-side-image{
    width: 20rem;
    height: auto;
}

/*/*//*/*//*/*//*/*//*/*//* center tile */
/*/*//*/*//*/*//*/*//*/*//* side bar */

#sidebar{
    width: 5.5rem;
    height: 85%;
    background-color: var(--cards-color);
}

.date{
    color: var(--Yellow--color);
    font-size: 1.8rem;
    font-weight: 600;
}

.month{
    color: #ffffff;
    font-size: 18px;   
}
.year{
    color: #ffffff;
    font-size: 20px;
}

.follow-text{
    opacity: 80%;
    margin-top: 4rem;
    width: 10rem;
    transform: rotateZ(90deg);
}

.yellow-line{
    height: 3px;
    width: 5rem;
    background-color: var(--Yellow--color);
}

.social-icons-wrap{
    height: 5rem;
    font-size: 20px;
}

.upbutton-wrap,
.downbutton-wrap{
    border-radius: 10px;
    padding: 0.7rem;
    border: 2px solid var(--Yellow--color);
    color: var(--Yellow--color);
}

/* transitions */

.na-name,
.nav-image,
.navigation-icons,
.navigation-button-wrap{
    transition: var(--transition--);
}


/*/*//*/*//*/*//*/*//*/*//* side bar */