@import url(main.css);

:root{
  
    --cards-color: #272727;
    --text-color: #ffffff;
    --icons--color: rgb(255, 157, 0);

}


/* main tile no2 Start */
/* main tile no2 */

/* width */
::-webkit-scrollbar {
    width: 3px;
    margin-left: -10rem;
    border-radius: 100%;

}

/* Track */
::-webkit-scrollbar-track {
    background: #4b4b4b;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #ff9d00;
}


#main-tile2{
    transition: 1s ease-in-out;
    height: 80%;
    width: 70rem;
    background-color: var(--cards-color);
}


.image-wrap2{
    border: 1px solid #ff9d00;

}

.second-image{
    transform: translateX(-2rem) translateY(2rem);
}

.list-item{
    line-height: 45px;
    font-size: 19px;
}

small{
    color: #b0b0b0;
}

.hobbies > i {
 color: #ff9d00;
}


.hobbies-wrap::before{
    content: '';
    position: absolute;
    width: 98%;
    height: 1.5px;
    display: block;
    background:linear-gradient(0.25turn ,rgb(39, 39, 39),rgb(255, 157, 0),rgb(39, 39, 39));
}

.hobbies-wrap::after{
    content: '';
    width: 98%;
    top: 100%;
    height: 1.5px;
    position: absolute;
    display: block;
    background:linear-gradient(0.25turn ,rgb(39, 39, 39),rgb(255, 157, 0),rgb(39, 39, 39));

}

.dots{
    background: #ff9d00;
}

/* main tile no2 */
/* main tile no2 End */